<div class="home-content">
  <h1>Main Page</h1>
  <p>Fetch Data clicking below section's button</p>

  <div class="sections-container">
    <!-- sekcja 1 -->
    <div class="section">
      <img src="image_1.jpg" alt="Section 1 Image" class="section-image" />
      <p class="section-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium,
        accusantium ut vero voluptatum esse deleniti a voluptatibus ad iusto
        atque ullam temporibus, est cumque consectetur porro voluptate? Earum,
        rerum ab!
      </p>
      <button class="btn">
        <a href="/student" class="btn">Our students</a>
      </button>
    </div>

    <!-- sekcja 2 -->
    <div class="section">
      <img
        src="path_to_image_2.jpg"
        alt="Section 2 Image"
        class="section-image"
      />
      <p class="section-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium,
        accusantium ut vero voluptatum esse deleniti a voluptatibus ad iusto
        atque ullam temporibus, est cumque consectetur porro voluptate? Earum,
        rerum ab!
      </p>
      <button class="btn">
        <a href="/offer" class="btn">Our offer</a>
      </button>
    </div>

    <!-- sekcja 3 -->
    <div class="section">
      <img
        src="path_to_image_3.jpg"
        alt="Section 3 Image"
        class="section-image"
      />
      <p class="section-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium,
        accusantium ut vero voluptatum esse deleniti a voluptatibus ad iusto
        atque ullam temporibus, est cumque consectetur porro voluptate? Earum,
        rerum ab!
      </p>
      <button class="btn">
        <a href="/best_students" class="btn"> Best Students </a>
      </button>
    </div>

    <!-- sekcja 4 -->
    <div class="section">
      <img
        src="path_to_image_4.jpg"
        alt="Section 4 Image"
        class="section-image"
      />
      <p class="section-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium,
        accusantium ut vero voluptatum esse deleniti a voluptatibus ad iusto
        atque ullam temporibus, est cumque consectetur porro voluptate? Earum,
        rerum ab!
      </p>
      <button class="btn">
        <a href="/subjects_results" class="btn"> Results per Subject </a>
      </button>
    </div>
  </div>
</div>
