<div class="table-container">
  <h1><%= tableTitle %></h1>

  <% if (records.length > 0) { %>
  <table>
    <thead>
      <tr>
        <% Object.keys(records[0]).forEach(column => { %>
        <th><%= column %></th>
        <% }); %>
      </tr>
    </thead>
    <tbody>
      <% records.forEach(record => { %>
      <tr>
        <% Object.values(record).forEach(value => { %>
        <td><%= value %></td>
        <% }); %>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <% } else { %>
  <p>No students available</p>
  <% } %>
</div>
