<div class="table-container">
  <h1><%= title %></h1>

  <% if (data.length > 0) { %>
  <div>
    <div>
      <% data.forEach(d => { %>

      <p><%= d.tutor_id %></p>
      <p><%= d.first_name %></p>
      <% }); %>
    </div>
  </div>
  <% } else { %>
  <p>No tutors</p>
  <% } %>
</div>
