/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f9fa;
    color: #333;
  }
  
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Header */
  .navbar {
    background-color: #007bff;
    color: white;
    padding: 1rem 0;
  }
  
  .navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  
  .navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .navbar .nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
  }
  
  .navbar .nav-links li a:hover {
    color: #ffd700;
  }
  
  /* Main */
  main {
    padding: 2rem 0;
    min-height: 80vh;
  }
  
  /* Tabele */
  .table-container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
  }
  
  .table-container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
  }
  
  table th,
  table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table th {
    background-color: #007bff;
    color: #fff;
  }
  
  table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  table tr:hover {
    background-color: #f1f1f1;
  }


.home-content {
  text-align: center;
  padding: 20px;
}


.sections-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;
  justify-items: center;
  margin-top: 40px;
}

/*  Sekcja */
.section {
  background-color: #f8f8f8;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 250px;
}

.section-image {
  width: 100%;
  height: 150px;
}

.section-description {
  margin: 15px 0;
  font-size: 1rem;
}

.btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

  
